mat-card {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 12px;
  /*padding: 16px;*/
  backdrop-filter: blur(10px);
}
:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
